{% load staticfiles %}
<script src = {% static 'articles/javascript/jquery.js' %}> </script>
<script src = {% static 'articles/javascript/responsive.js' %}> </script>

<div class="column2 prefix1">
  <div class="sidebar">
    <div class="sidebar--top">
      <div class="sidebar--top__image">
      </div>
      <div class="sidebar--top__menu">
        <img src="../../static/articles/images/menu.png">
      </div>
    </div>
    <div class="sidebar--bottom">
      <div class="sidebar--bottom__responsive small-grey-font">
          Toggle Menu
      </div>
      <div class="sidebar--bottom__nav">
        <div class="sidebar--bottom__nav--top">
        </div>
        <div class="sidebar--bottom__nav--bottom small-grey-font">
          Nav 1
        </div>
      </div>
      <div class="sidebar--bottom__nav ">
        <div class="sidebar--bottom__nav--top">
        </div>
        <div class="sidebar--bottom__nav--bottom small-grey-font">
          Nav 2
        </div>
      </div>
      <div class="sidebar--bottom__nav">
        <div class="sidebar--bottom__nav--top">
        </div>
        <div class="sidebar--bottom__nav--bottom small-grey-font">
          Nav 3
        </div>
      </div>
      <div class="sidebar--bottom__nav">
        <div class="sidebar--bottom__nav--top">
        </div>
        <div class="sidebar--bottom__nav--bottom small-grey-font">
          Nav 4
        </div>
      </div>
      <div class="sidebar--bottom__nav">
        <div class="sidebar--bottom__nav--top">
        </div>
        <div class="sidebar--bottom__nav--bottom small-grey-font">
         Nav 5
        </div>
      </div>     
    </div>
  </div>
</div>